body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
/* common classes */

/* font size */
.big-font{
    font-size: 60px;
}
.medium-font{
    font-size: 30px;
}
.bold-font{
    font-weight: bold;
}
.thin-font{
    font-weight: 100;
}

/* color */
.orange-color{
    color: orange;
}
.gray-color{
    color: gray;
}

/* others */
.half-width{
    width: 50%;
}





/* navigation section */
nav{
    background-color: #FDD2BF;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
}
.logo span{
    color: #F54748;
}
.logo h1{
    color: #343F56;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
nav li{
    list-style: none;
}
/* Header section */
.header-sec{
    padding: 0px 10%;
    display: flex;
    margin-bottom: 100px;
}
.header-left{
    margin-top: 100px;
}
.header-left p{
    margin-bottom: 50px;
}
.header-left a{
    color: rgb(243, 237, 237);
    margin-top: 50px;
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(to right, #D83A56, #FF616D);
    border-radius: 30px;
}

/* Contact section */
.about-sec{
    background-size: cover;
    /* height: 100%; */
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    padding: 0px 10%;
    display: flex;

    margin-bottom: 100px;
}
.about-left{
    padding-bottom: 0px;
}
.about-left img{
    width: 60%;
    margin-left: 80px;
    margin-top: 80px;
}
.about-right{
    padding-bottom: 100px;
    margin-top: 130px;
    padding-right: 120px;
}
.about-right p{
    margin-bottom: 100px;
}
.about-right a{
    color: rgb(243, 237, 237);
    margin-top: 50px;
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(to right, #D83A56, #FF616D);
    border-radius: 30px;
}


/* Recipie section */
.recipie-sec{
    margin-bottom: 100px;

}
.recipie-title{
    text-align: center;
    padding: 0 20%;
    margin-bottom: 50px;
}
.recipie-container{
    margin: 0px 5%;
    display: flex;
    gap: 5%;
}
.recepie{
    box-shadow: 2px 2px 8px #888888;
    /* border: 2px solid brown; */
    width: 30%;
    /* text-align: center; */
    padding: 20px 20px 50px 20px;
    border-radius: 15px;
}
.recepie img{
    width: 100%;
}

/* following section */
.following-sec{
    margin: 0px 5%;
    margin-bottom: 100px;
    display: flex;
    padding: 15px 50px;
    box-shadow: 2px 2px 8px #888888;
    border-radius: 10px;
    /* gap: 10%; */
}
.following{
    text-align: center;
    margin: 0 10%;
    width: 20%;
}

/* Discover section */
.discover-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(images/bg-intro-01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin-bottom: 100px;
    letter-spacing: 8px;
}
.discover-sec h3{
    color: red;
}
.discover-sec h1{
    color: white;
    font-size: 40px;
}

/* footer section */
footer{
    background-color: rgb(34, 33, 33);
    text-align: center;
    margin-bottom: 0;
    padding: 30px 0px 100px 0;
}